langchain
streamlit
openai
pypdf
python_dotenv
pinecone-client
sentence_transformers
unstructured
streamlit-ace
google-search-results
streamlit-camera-input-live
codeinterpreterapi
pyrebase4
firebase-admin
st-pages
streamlit_extras
asyncio

